@import "tailwindcss";

body {
  background: #000000;
  color: #ffffff;
  margin: 0;
}

/* スクロールバー非表示 */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox用 */
  height: 100%;
}

html {
  scroll-snap-type: y mandatory;
}